body
{
    margin: 0;
}
.headernav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0px;
    border-bottom: 2px solid #E6E6E6
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.menubars {
    font-size: 2rem;
    background: none;
}

.layout
{
    display: flex;
   
}

.mainPage
{
    width: 100%;
}

.overlay
{
    background-color: #060b26;
}

.forecastSection
{
    overflow: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
